<h1><%= @blogger.name %> Info</h1>
<h3>Total Likes: <%= @blogger.total_likes %></h3>
<h3>Feautred Post: <%= link_to @blogger.most_popular.title, @blogger.most_popular %></h3>
<h3>Top Destinations</h3>
<ul>
    <% @blogger.top_five.each do |d| %>
        <li><%= link_to d.name + ", " + d.country, d %></li>
    <% end %>
</ul>

<%= link_to "Back", bloggers_path%>